# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
requests
beautifulsoup4
psycopg2-binary
apache-airflow-providers-postgres
dbt-postgres
